* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}




body {

    font-family: 'Hiragino Kaku Gothic Pro', sans-serif;

    background: linear-gradient(to bottom, rgb(242, 250, 126), rgb(175, 241, 162)) !important; /* 緑から白のグラデーション */

    color: #030303;

    line-height: 1.6;

}





.main-container {

    max-width: 900px;

    margin: 0 auto;

    padding: 20px;

}




.title-section {

    text-align: center;

    padding: 40px 0;

}




.subtitle {

    font-size: 12px;

    color: #888;

    margin-bottom: 10px;

}




h1 {

    font-size: 36px;

    letter-spacing: 0.15em;

    line-height: 1.8;

}




.content-block {

    display: flex;

    justify-content: space-between;

    margin-bottom: 50px;

}




.content-block .image {

    flex: 1;

    margin-right: 20px;

}




.content-block .image img {

    width: 100%;

    border-radius: 8px;

}




.content-block .content {

    flex: 2;

}




.content-block .content-number {

    font-size: 18px;

    color: #666;

    margin-bottom: 10px;

}




.content-block h2 {

    font-size: 24px;

    margin-bottom: 15px;

}




.content-block p {

    font-size: 16px;

    color: #555;

}



@media screen and (max-width: 768px) {

    .content-block {

        flex-direction: column;

    }




    .content-block .image {

        margin-right: 0;

        margin-bottom: 20px;

    }

}

.footer {
    background-color: #333; /* 背景色 */
    padding: 10px; /* パディングを追加 */
}

.footer-links {
    text-align: left; /* リンクを左寄せ */
}

.footer-links a {
    color: white; /* 文字を白く */
    text-decoration: none; /* 下線を消す */
    display: block; /* 各リンクをブロック要素にする */
}
