/* 全画面共通のスタイル */
.carousel img {
  width: 90%;  /* 画像の幅を少し小さく */
  height: auto;
  margin: 0 auto;  /* 中央揃え */
  display: block;  /* ブロック要素に変更 */
}

.footer {
  justify-content: space-between; /* footerの両端に要素を配置 */
  padding: 20px;
}

.footer .letter {
  margin-left: auto; /* 松田研究室B班を右に揃える */
}

@media (max-width: 768px) {
  .carousel img {
    width: 100%;  /* スマホでは画面幅いっぱいに */
  }

  .footer {
    flex-direction: column; /* スマホでは縦並び */
  }

  .footer .letter {
    margin-left: 0;  /* 松田研究室B班を中央揃えに戻す */
    text-align: right; /* スマホでも右寄せ */
  }
}
