* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dfffe1;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.home-link {
  position: fixed;
  top: 70px; /* Adjust this value as needed */
  left: 10px;
  padding: 10px;
  font-size: 30px;
  background-color: #37f040;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(33, 186, 224, 0.2);
  text-decoration: none;
}

.home-link:hover {
  background-color: #3376db;
}

.class {
  max-width: 900px;
  width: 90%;
  height: 70px;
  background: #2E7D32;
  color: white;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.main {
  text-align: center;
  margin-bottom: 20px; /* コンテンツ下部に余白を追加 */
}

.section-title {
  font-size: 40px; /* フォントサイズを大きく */
  margin: 12px 0; /* 上下に余白を追加 */
  color: orange; /* 文字色をオレンジに */
  padding: 10px; /* パディングを追加 */
  background-color: white; /* 背景色を白に */
  border-radius: 20px; /* 角を丸くする */
  display: inline-block; /* タイトルの周りに余白を持たせるための設定 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 影を追加 */
}

.info {
  margin: 0 auto; /* 中央揃え */
  width: 80%; /* 幅を調整 */
}

.image-container {
  position: relative; /* スライドショーの親要素 */
  width: 400px; /* 幅を固定 */
  height: 500px; /* 高さを固定 */
  overflow: hidden; /* はみ出した部分を隠す */
  margin: 0 auto; /* 中央揃え */
}

.slides {
  display: flex; /* スライドを横に並べる */
  transition: transform 0.5s ease; /* スライドの切り替えにアニメーションを追加 */
}

.slides img {
  width: 400px; /* 画像の幅を固定 */
  height: 500px; /* 画像の高さを固定 */
}

table {
  width: 80%; /* 表の幅を80%に */
  margin: 20px auto; /* 中央揃え */
  border-collapse: collapse; /* 表の罫線を統合 */
  background-color: yellow; /* 背景色を黄色に */
}

th,
td {
  border: 1px solid black; /* 罫線を黒に */
  padding: 8px; /* パディングを追加 */
  text-align: center; /* 中央揃え */
}

th {
  background-color: #f2f2f2; /* ヘッダー行の背景色 */
}

.footer {
  text-align: center; /* 中央揃え */
  padding: 20px; /* パディングを追加 */
  background-color: #333; /* 背景色を濃いグレーに */
  color: white; /* 文字色を白に */
}

.footer-links {
  margin-bottom: 10px; /* フッター内のリンクの下に余白を追加 */
}

.footer-links a {
  color: white; /* リンクの文字色 */
  margin: 0 10px; /* 左右に余白を追加 */
  text-decoration: none; /* 下線を削除 */
}

.footer-links a:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}

@media (max-width: 768px) {
  .home-link {
      font-size: 20px; /* ホームリンクのフォントサイズを小さく */
      padding: 8px; /* パディングを調整 */
  }

  .info {
      width: 90%; /* 小さな画面では幅を90%に */
  }

  .image-container {
      width: 100%; /* 小さな画面では幅を100%に */
  }

  .slides img {
      width: 100%; /* 小さな画面では画像の幅を100%に */
  }
}
