body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background: #F5DEB3;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    color: #555;
    margin-bottom: 15px;
}

.subtitle-container {
    background-color: #533518;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    max-width: 100%;
}

.subtitle-container h1 {
    color: white;
    font-size: 3em;
}

.shop-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.shop-details h1 {
    font-size: 2.0em;
}

.shop-details h2 {
    font-size: 2.0em;
}
.shop-photo {
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
}

.shop-details {
    max-width: 600px;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}

th {
    background-color: #f2f2f2;
}

/* フッター部分 */
.footer {
    width: auto;
    background-color: #3d2010;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.letter {
    margin-left: auto;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px auto;
    overflow: hidden;
}

.carousel .slide {
    display: none;
    width: 100%;
}

.carousel .active {
    display: block;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 44px;
    border: none;
    line-height: 0;
    border-radius: 50%;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 12px;
}

.next {
    right: 12px;
}

/* レスポンシブ対応: モバイルデバイス向け */
@media (max-width: 768px) {
    .shop-photo {
        width: 100%;
        height: auto;
    }

    .subtitle-container {
        padding: 20px;
    }

    .shop-info {
        flex-direction: column;
    }

    table {
        font-size: 1.2em;
    }
}
